.mix-cover {
    mix-blend-mode: luminosity;
}

.jojostar {
    clip-path: polygon(50% 0px, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
    padding: 10px;
}
.jojostar-container {
    background-image:
        radial-gradient(#5334c8 2px, transparent 2px),
        radial-gradient(#5334c8 2px, transparent 2px);
    background-size: 26px 26px;
    background-position:
        0 0,
        13px 13px;
    background-color: #7c5cf5;
}

/*.jojostar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0px, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
}*/

.jojolands .to-left {
    background-image:
        radial-gradient(#e98467 2px, transparent 2px),
        radial-gradient(#e98467 2px, transparent 2px);
    background-size: 26px 26px;
    background-position:
        0 0,
        13px 13px;
    background-color: #fb987c;
    /*--s: 30px;
    --c1: #a227aa;
    --c2: #efe4af;

    --_g:
        var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
        var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%,
        var(--c2) 66% 75%, var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
    background:
        radial-gradient(50% 50% at 100% 0, var(--_g)),
        radial-gradient(50% 50% at 0 100%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2)
            calc(var(--s) / 2) var(--c1);
    background-size: var(--s) var(--s);*/
}

.jojolands .top-right {
    background: #f274e0;
    background-image:
        radial-gradient(#dc58c9 2px, transparent 2px),
        radial-gradient(#dc58c9 2px, transparent 2px);
    background-size: 26px 26px;
    background-position:
        0 0,
        13px 13px;
    background-color: #f274e0;
    /*--s: 30px;
    --c1: #8ee576;
    --c2: #5397df;

    --_g:
        #0000 calc(-650% / 13) calc(50% / 13), var(--c1) 0 calc(100% / 13),
        #0000 0 calc(150% / 13), var(--c1) 0 calc(200% / 13),
        #0000 0 calc(250% / 13), var(--c1) 0 calc(300% / 13);
    --_g0: repeating-linear-gradient(45deg, var(--_g));
    --_g1: repeating-linear-gradient(-45deg, var(--_g));
    background:
        var(--_g0),
        var(--_g0) var(--s) var(--s),
        var(--_g1),
        var(--_g1) var(--s) var(--s) var(--c2);
    background-size: calc(2 * var(--s)) calc(2 * var(--s));*/
}

.jojolands .bottom-left {
    background: #8fe68f;
    background-image:
        radial-gradient(#7bda7b 2px, transparent 2px),
        radial-gradient(#7bda7b 2px, transparent 2px);
    background-size: 26px 26px;
    background-position:
        0 0,
        13px 13px;
    background-color: #8fe68f;
    /*--s: 30px;
    --c1: #7a3e4f;
    --c2: #f48448;

    --c: #0000 75%, var(--c1) 0;
    --g1: conic-gradient(at 78% 3%, var(--c));
    --g2: conic-gradient(at 3% 78%, var(--c));
    background:
        var(--g1),
        var(--g1) var(--s) var(--s),
        var(--g1) calc(2 * var(--s)) calc(2 * var(--s)),
        var(--g1) calc(3 * var(--s)) calc(3 * var(--s)),
        var(--g2) 0 calc(3 * var(--s)),
        var(--g2) var(--s) 0,
        var(--g2) calc(2 * var(--s)) var(--s),
        var(--g2) calc(3 * var(--s)) calc(2 * var(--s)) var(--c2);
    background-size: calc(4 * var(--s)) calc(4 * var(--s));*/
}
.jojolands .bottom-right {
    background: #77f0d6;
    background-image:
        radial-gradient(#68ddc4 2px, transparent 2px),
        radial-gradient(#68ddc4 2px, transparent 2px);
    background-size: 26px 26px;
    background-position:
        0 0,
        13px 13px;
    background-color: #77f0d6;
    /*--s: 30px;
    --c1: #000000;
    --c2: #ffc21a;

    background:
        conic-gradient(#0000 75%, var(--c1) 0) 0 calc(var(--s) / 4),
        conic-gradient(from 45deg, var(--c1) 25%, var(--c2) 0);
    background-size: var(--s) var(--s);*/
}
