---
import { MapContainer } from "../components/presentation/MapContainer";
import { AudioExample } from "../components/presentation/AudioExample";
import { FilePreviewPresentation } from "../components/presentation/FilePreviewPresentation";
import Layout from "../layouts/Layout.astro";
import { ErrorBoundary } from "../components/chat/components/ErrorHandling";
import { MotionClock } from "../components/chat/components/clock/MotionClock";
import { FileExplorer } from "../components/chat/components/FileExplorer/FileExplorer";

import Jojod4c from "/jojo/d4c.png";
import JojoKillerQueen from "/jojo/killer-queen.png";
import JojoMadeInHeaven from "/jojo/made-in-heaven.png";
import { SignCard } from "../components/chat/components/SignCard";
---

<Layout>
    <div class="flex flex-col justify-center w-full p-8">
        <ErrorBoundary>
            <div class="w-screen flex justify-center items-center pt-64">
                <SignCard client:only="react" />
            </div>
            <!-- <FilePreviewPresentation client:only="react" /> -->
            <!-- <div class="w-full h-full">
                <MapContainer client:only="react" />
            </div> -->
            <!-- <AudioExample client:only="react" /> -->
        </ErrorBoundary>
        <!-- <MapContainer client:only="react" /> -->
        <!-- <div class="w-screen h-screen">
            <Test client:only="react" />
        </div> -->
    </div>
    <!-- <MediaContainer client:only="react" />

    <div class="flex justify-center w-full">
        <!-- <HeroSection /> -->
    <!-- <ChatSwitch
        client:only="react"
        message={{
            id: "23312123",
            content: "./paza-moduless.mp3",
            files: [],
            avatar: "bla",
            role: "assistant",
            type: "audio",
            timestamp: new Date(),
        }}
    /> -->
</Layout>
